name: CD pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      BACKEND_HOST: 'localhost:8080'
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 14.x
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
    - name: Setup pnpm
      uses: pnpm/action-setup@v2.2.2
      with:
        version: 7.2.1
    - name: Installing dependencies
      run: pnpm install
    - name: Run static code analizers
      run: pnpm run lint
    - name: Run tests
      run: echo 'No tests'
    - name: Build
      run: pnpm run build

  deploy-dev:
    name: Deploy DEV
    environment:
      name: dev
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
        args: deploy --dir=build --prod
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
        heroku_email: 'wmdanor@gmail.com'
        dontautocreate: true
